<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>File Details</title>
  </head>
  <header>
    <a href="/">Home</a>

    <% if (user) { %>
    <a href="/upload">Upload</a>

    <a href="/new-message">Leave a message</a>

    <a href="/profile">Profile</a>

    <a href="/logout">Logout</a>

    <% } else { %>

    <a href="/login">Login</a>

    <a href="/sign-up">Sign Up</a>

    <% } %>
  </header>
  <body>
    <% if (user) { %> <% if (user.role === "user") { %>
    <div class="fileStats">
      <h2>File stats</h2>
      <p>File name: <%= fileDetails.originalName %></p>
      <p>
        Location: <% if (fileDetails.asset_folder === "") { %> root <% } else {
        %> <%= fileDetails.asset_folder %> <% } %>
      </p>
      <p>
        File size: <%= Math.round(fileDetails.bytes / 1000) %><%= fileSizeUnit
        %>
      </p>
      <p>Date created: <%= fileDetails.created_at %></p>
    </div>
    <% }} %>
  </body>
</html>
