<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/styles.css" />
    <title>Upload</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>

      <% if (user) { %>
      <a href="/upload">Upload</a>
  
      <a href="/new-message">Leave a message</a>
  
      <a href="/profile">Profile</a>
  
      <a href="/logout">Logout</a>
  
      <% } else { %>
  
      <a href="/login">Login</a>
  
      <a href="/sign-up">Sign Up</a>
  
      <% } %>
    </header>

    <!-- Cloudinary Directories -->
    <% if (user) { %>
    <h1>Directories (Cloudinary)</h1>

    <% if (showGoUp) { %>
    <a class="goUp" href="TBC">Go Up</a>
    <% } %>

    <div class="addDir">
      <form action="/newDir" method="POST">
        <label for="newDir">New folder</label>
        <input type="text" name="dirName" />
        <input type="hidden" name="subfolder" value="TBC" />
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <ul class="errors">
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
        <% } %>
        <button class="addNewFolder" type="submit">+</button>
      </form>
    </div>

    <% cloudinaryRootFolderRead.folders.forEach(folder => { %>
    <div class="dir-container">
      <a class="navigate" href="/upload/<%= folder.path %>"><%= folder.name %></a>
      <a class="edit" href="/dir-update/<%= folder.path %>">
        <i id="<%= folder.name %>" class="fas fa-edit"></i>
      </a>
      <a class="delete" href="/dir-delete/<%= folder.path %>">
        <i id="<%= folder.name %>" class="fas fa-trash-alt"></i>
      </a>
    </div>
    <% }); %>

    <!-- Cloudinary Files -->
    <h1>Files (cloudinary)</h1>

    <% cloudinaryListFiles.forEach(file => { %>
    <div class="file-container">
      <a class="download" href="<%= file.url %>"><%= file.original_name %></a>
      <a class="details" href="/file-details/<%= file.public_id %>">
        <i id="<%= file.asset_id %>" class="fas fa-eye"></i>
      </a>
      <a class="edit" href="/file-new-name/<%= file.public_id %>">
        <i id="<%= file.asset_id %>" class="fas fa-edit"></i>
      </a>
      <a class="delete" href="/file-delete/<%= file.public_id %>">
        <i id="<%= file.asset_id %>" class="fas fa-trash-alt"></i>
      </a>
    </div>
    <% }); %> 
    <div class="addFile">
      <form action="/upload/<%= subfolder %>" method="POST" enctype="multipart/form-data">
        <label for="upload">Upload file</label>
        <input type="file" name="avatar" />
        <button class="addNewFile" type="submit">+</button>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <ul class="errors">
          <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
      </form>
    </div>
    <% } %> <% } else { %>
    <p>Please login first</p>
    <% } %>
  </body>
</html>
